In some indeterminate cases there is a wrong Date value in http Response

## Steps to Reproduce

It would be tricky to reproduce as the cause is yet unknown to me.
In my case I'm after getting a server time as follows:
```dart
  Future<DateTime> fetchCurrentTime() async {
    final resp = await return _client.head(Constants.hostname);

    if (resp.statusCode < 200 || resp.statusCode > 299) {
      throw NetworkExeption("status: " + resp.statusCode.toString());
    }

    DateTime respTime;
    print(resp.headers.toString());
    resp.headers.forEach((key, value) {
      if (key.toUpperCase() == 'DATE') {
        // Per RFC 7231 (sec. 7.1.1.2) the 'Date' header format
        // is 'E, d MMM yyyy HH:mm:ss' and set to GMT.
        // A 'parse' method of DateFormat called with 'true'
        // to indicate that the time should be in UTC.
        // In this case treating GMT as UTC is just ok.
        respTime = DateFormat('E, d MMM yyyy HH:mm:ss').parse(value, true);
        print('Time in resp header $value');
        print('Resp time as UTC ${respTime.toIso8601String()}');
      }
    });
    return respTime;
  }
```
It can not be a server-side problem as I'm getting consistently the correct time with curl, Paw and in browser (Chrome) network pane, but not in app console/terminal. Server-side a response' headers does contain `"Access-Control-Expose-Headers"` set to `"Date"`.

**Expected results:** 
Get reliably the time of server response in UTC.

**Actual results:** 
In Flutter web app sometimes for multiple consecutive requests (and even after app reload) I'm getting a value 'frozen' at some time ago. Printout was:
```
{content-length: 11278, content-type: text/html; charset=utf-8, date: Thu, 14 Jan 2021 03:53:47 GMT, last-modified: Mon, 02 Nov 2020 06:59:54 GMT}
Time in resp header Thu, 14 Jan 2021 03:53:47 GMT
Resp time as UTC 2021-01-14T03:53:47.000Z
```
But with curl:
```curl
% curl --head "http://127.0.0.1:8080/"
HTTP/1.1 200 OK
Accept-Ranges: bytes
Content-Length: 11278
Content-Type: text/html; charset=utf-8
Last-Modified: Mon, 02 Nov 2020 06:59:54 GMT
Date: Thu, 14 Jan 2021 06:14:02 GMT
```

Unfortunately I've cleaned the project (it helped to get the correct headers for now) and can't get verbose logs until the next occurrence of this problem.

### Doctor says
```
[✓] Flutter (Channel beta, 1.25.0-8.2.pre, on Mac OS X 10.15.7 19H114 darwin-x64, locale ru-RU)
[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
[✓] Xcode - develop for iOS and macOS (Xcode 12.3)
[✓] Chrome - develop for the web
[✓] Android Studio (version 4.1)
[✓] VS Code (version 1.52.1)
[✓] Connected device (1 available)

• No issues found!
```

Hi @illabo 
Can you please provide your `flutter doctor -v`, your `pubspec.yaml` and a minimal complete reproducible code sample?
Thank you

@pedromassangocode, thanks for looking into this issue.

The `flutter doctor -v` reads:
```
[✓] Flutter (Channel beta, 1.25.0-8.2.pre, on Mac OS X 10.15.7 19H114 darwin-x64, locale ru-RU)
    • Flutter version 1.25.0-8.2.pre at /usr/local/Caskroom/flutter/1.22.4/flutter
    • Framework revision b0a2299859 (9 days ago), 2021-01-05 12:34:13 -0800
    • Engine revision 92ae191c17
    • Dart version 2.12.0 (build 2.12.0-133.2.beta)

[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
    • Android SDK at /Users/illabo/Library/Android/sdk
    • Platform android-30, build-tools 29.0.2
    • Java binary at: /Applications/Android Studio.app/Contents/jre/jdk/Contents/Home/bin/java
    • Java version OpenJDK Runtime Environment (build 1.8.0_242-release-1644-b3-6915495)
    • All Android licenses accepted.

[✓] Xcode - develop for iOS and macOS (Xcode 12.3)
    • Xcode at /Applications/Xcode.app/Contents/Developer
    • Xcode 12.3, Build version 12C33
    • CocoaPods version 1.10.0

[✓] Chrome - develop for the web
    • Chrome at /Applications/Google Chrome.app/Contents/MacOS/Google Chrome

[✓] Android Studio (version 4.1)
    • Android Studio at /Applications/Android Studio.app/Contents
    • Flutter plugin can be installed from:
      🔨 https://plugins.jetbrains.com/plugin/9212-flutter
    • Dart plugin can be installed from:
      🔨 https://plugins.jetbrains.com/plugin/6351-dart
    • Java version OpenJDK Runtime Environment (build 1.8.0_242-release-1644-b3-6915495)

[✓] VS Code (version 1.52.1)
    • VS Code at /Applications/Visual Studio Code.app/Contents
    • Flutter extension version 3.18.1

[✓] Connected device (1 available)
    • Chrome (web) • chrome • web-javascript • Google Chrome 87.0.4280.88
```

The content of `pubspec.yaml` is following:
```YAML
name: crab_delivery_webapp
description: A new Flutter project.

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  dadata_suggestions: ^0.1.1
  flutter_typeahead: ^1.9.1
  http: ^0.12.2
  json_annotation: ^3.1.1
  mapbox_gl: ^0.9.0
  provider: ^4.3.2
  sticky_headers: ^0.1.8
  timezone: ^0.6.1
  universal_html: ^1.2.1
  yaw_phonenumber_platform_interface:
    git:
      url: https://github.com/illabo/yaw_phonenumber.git
      path: yaw_phonenumber_platform_interface
  yaw_phonenumber_web:
    git:
      url: https://github.com/illabo/yaw_phonenumber.git
      path: yaw_phonenumber_web

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^1.10.7
  json_serializable: ^3.5.1

# The following section is specific to Flutter.
flutter:
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/symbols/mapboxmarker.png

```

Unfortunately I can't provide anything beyond a snippet from original message b.c. it seem not being easily reproducible. E.g. after running `flutter clean` there is no such an issue for indeterminate amount of time up to next occurrence of wrong Date value which I'm unable to predict at all.

Hi @illabo 
From what I can see, the issue is related to http package rather than to Flutter itself. Please open the issue in the dedicated [repository](https://github.com/dart-lang/http).
Closing, as this isn't an issue with Flutter itself.  
If you disagree, please write in the comments,  
providing your `flutter doctor -v`, your `flutter run -v`,  your `pubspec.yaml`
a minimal reproducible code sample that does not use 3rd party plugins/package,  
and I will reopen it.
Thank you